fastapi==0.109.0
uvicorn==0.27.0
beanie
motor~=3.1.0
pydantic[email]
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
celery
redis
docker
email-validator
vine==5.0.0
