fastapi==0.109.0
uvicorn==0.27.0
beanie==1.25.0
motor==3.3.2
pydantic[email]
pymongo==4.6.1
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
celery
redis
docker
email-validator
vine==5.0.0
dnspython
gunicorn
